:root {
  --color-background: #eaeaea;
  --color-primary: #ea1d25;
  --color-secondary: #ffffff;
  --color-text: #5c6369;
  --color-text-light: rgba(92, 99, 105, 0.45);
  --color-positive-variation: #87d883;
  --color-negative-variation: #f55a5f;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--color-background);
  font-family: "Segoe UI", sans-serif;
}
